<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test12">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--
        android：usesCleartextTraffic 指示应用程序是否打算使用明文网络流量，
        例如明文HTTP。目标API级别为27或更低的应用程序的默认值为“ true”。
        面向API级别28或更高级别的应用默认为“ false”。
    -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Test12">d
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>